<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <th:block th:replace="common_base::common_header"/>
</head>
<body>

<!-- 导航 -->
<th:block th:replace="admin/administrator_base::administrator_nav(1)"></th:block>

<main>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="typeId" th:value="*{type}!=null ? ${type.id}">
                                <i class="dropdown icon"></i>
                                <div class="default text">分类</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1"
                                         th:data-value="${type.id}" th:text="${type.name}"></div>
                                </div>
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>

                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui mini teal basic button"><i
                                class="search icon"></i>搜索
                        </button>
                        <a href="#" th:href="@{/admin/new}" class="ui mini right floated blue basic button">新增</a>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui compact table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>状态</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog,iterStat: ${page.content}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${blog.title}"></td>
                        <td th:text="${blog.type.name}"></td>
                        <td th:text="${blog.recommend} ? '是':'否'"></td>
                        <td th:text="${blog.published} ? '发布':'草稿'"
                            th:style="${blog.published} ? 'color: #016936;':'color: #B03060;'"></td>
                        <td th:text="${blog.updateTime}"></td>
                        <td>
                            <a href="#" class="ui mini blue basic button" th:href="@{update(id=${blog.id})}">编辑</a>
                            <a href="#" class="ui mini red basic button delete_blog" th:blog-id="${blog.id}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"
                                   th:unless="${page.first}">上一页</a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item"
                                   th:unless="${page.last}">下一页</a>
                            </div>
                        </th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</main>
<form class="ui form grid ui modal delete_blog_modal" method="post" th:action="@{/admin/blog/delete}"
      style="max-width: 20em !important;">
    <input name="id" type="hidden" id="delete-blog-id">
    <button class="ui fluid large blue submit button">确认删除</button>
    </div>
</form>


<!--底部footer-->
<th:block th:replace="common_base::common_footer"></th:block>
<th:block th:replace="common_base::common_js"></th:block>
<script>
    $('.delete_blog').click(function (e) {
        $('.ui.modal.delete_blog_modal')
            .modal('show')
        ;
        var id = $(e.target).attr('blog-id');
        $('#delete-blog-id').val(id);
    })

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
            $('[name="title"]').val("");
        })
    ;

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    function loaddata() {
        if ($("[name='typeId']").val() == "")
            $("[name='typeId']").val(0)
        $("#table-container").load("[[@{/admin/blogs/search}]]", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }

</script>
</body>
</html>