<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理登陆</title>
    <th:block th:replace="common_base::common_header"/>
</head>
<body>
<main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
        <div class="ui container">
            <div class="ui middle aligned center aligned grid">
                <div class="column eleven">
                    <h2 class="ui blue image header">
                        <div class="content">
                            后台管理登录
                        </div>
                    </h2>
                    <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                        <div class="ui segment">
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="用户名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="密码">
                                </div>
                            </div>
                            <button class="ui fluid large blue submit button">Login</button>
                        </div>
                        <div class="ui error mini message"></div>
                        <div class="ui mini negative message" th:unLess="${#strings.isEmpty(message)}" th:text="${message}"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>


</main>

<th:block th:replace="common_base::common_js"></th:block>

<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });

</script>
</body>
</html>